html {
    box-sizing: border-box;
}

*, ::after ,::before {
    box-sizing: inherit;
}

.body {
    background-color: #9d9d9d;
}

.form {
    width: 500px;
    background-color: aquamarine;
    border: 10px solid;
    margin: 11% auto;
    text-align: center;
    font-family: "roboto", "arial";
}
